/* styles.module.css */

.content_Home {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* justify-content: space-between;
  align-items: flex-start; */
  min-height: 600px;
}

/* css những thẻ tiêu đề của những phần giới thiệu */
.textContainer h2 {
  color: #386641;
  font-weight: 700;
  display: block;
  width: fit-content;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  background-color: #ecf39e;
  padding: 5px;
}
.textContainer h5 {
  color: #184e77;
  font-size: 15px;
  width: fit-content;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  background-color: #cad2c5;
  padding: 5px;
  font-weight: bold;
}
.contentTheP {
  font-size: 16px;
  line-height: 1.7;
  color: #000000;
}
.dacdiemnoibatGT3 {
  /* background-color: red; */
  padding-right: 20px;
}

.gth1,
.gth2,
.gth3,
.gth4,
.gth6,
.gth7,
.gth8,
.gth9,
.gth10 {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 5px solid #ccc;
  height: auto;
  padding: 20px;
  width: 100%;
}
.textContainer {
  width: 70%;
}

.imageContainer {
  width: 30%;
  z-index: 1;
}
.textContainer {
  /* text-align: justify; // Căn lề văn bản đều hai bên */
  text-align: justify;
}

.gth5 {
  border: 5px solid #ccc;
}
.gth5 .textContainer {
  width: 100%;
  margin-bottom: 30px;
  padding: 20px;
}
.gth5 {
}
/* Container div */
.overCacGiayChungNhan {
  display: flex;
  flex-wrap: wrap; /* Cho phép tự nhảy xuống nếu đầy hàng */
  gap: 20px; /* Khoảng cách giữa các div */
  justify-content: center;
}
.videoRate {
  text-align: center;
  background-color: aliceblue;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
}
.video {
  border: solid 1px black;
  border-radius: 10px;
  box-shadow: 10px 10px 5px grey;
  max-width: 100%; /* Đảm bảo video không bị tràn ra ngoài div khi màn hình nhỏ */
  height: auto; /* Giữ tỷ lệ khung hình video */
}
/* Các div chứa thông tin và hình ảnh */
.giaychungnhan {
  border: 1px solid #ccc; /* Border cho div */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box-shadow cho div */
  padding: 10px; /* Khoảng cách giữa nội dung và border */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.giaychungnhan p {
  /* Loại bỏ margin mặc định của <p> */
}

.imageContainer {
  /* flex: 1; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.gth6 .imageContainer {
  width: 40%;
}
.gth6 .textContainer {
  width: 60%;
}

@media (max-width: 768px) {
  .gth1,
  .gth2,
  .gth3,
  .gth4,
  .gth5,
  .gth6,
  .gth7,
  .gth8,
  .gth9,
  .gth10 {
    flex-direction: column;
    align-items: center; /* Điều chỉnh trung tâm dọc */
  }

  .textContainer h2 {
    text-align: left;
  }

  .gth6 .textContainer {
    width: 100%;
    margin-bottom: 30px;
  }
  .gth6 .imageContainer {
    width: 100%;
    margin-bottom: 30px;
  }
  .textContainer,
  .imageContainer {
    width: 100%; /* Chiếm toàn bộ chiều rộng khi flex-direction là column */
  }
  .imageContainer {
    justify-content: center;
  }
}

.captionImage {
  display: inline-block; /* Hiển thị fit nội dung */
  background-color: rgba(45, 137, 74, 0.7);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Điều này tạo ra một bóng màu đen phía sau phần tử */
  color: #ffffff; /* Màu chữ trắng hoặc màu tùy chọn cho nội dung bên trong */
  padding: 5px 10px;
  border-radius: 7px;
}
.imageGT1 {
  /* border-radius: 20%; */
  border-radius: 10px 10px 0px 0px;
}
.imageGT7 {
  border-radius: 10px 10px 0px 0px;
}

.imageGT8 {
  border-radius: 5%;
  box-shadow: 0px 0px 20px rgba(103, 100, 100, 0.5);
}

/*css Tạo hiệu ứng zoom */
.zoom {
  transition: transform 0.4s;
}
.zoom:hover {
  transform: scale(1.2);
}
.zoom10 {
  transition: transform 0.2s;
}
.zoom10:hover {
  transform: scale(1.5);
}
